.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;
  height: auto;
  align-items: center; 
  position: relative;
  justify-content: flex-start;
  flex-wrap: nowrap;
  z-index: 1;
  background-color: #1C1D20;
  }

.body{
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: flex-start;
  justify-content: space-between;
  color:lightgrey;
  padding-block: 4% 2%;
  padding-inline: 2%;
  
}


.socialContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  flex-direction: column;
  gap:20px;
  padding: 1em;
}

.socialContainer > h5{
  text-transform: uppercase;
  font-size: 11px;
  color: gray;
}

.textContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  flex-direction: column;
  gap:20px;
  padding: 1em;
}

.textContainer > h5{
  text-transform: uppercase;
  font-size: 11px;
  color: gray;
}

.textContainer > p{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 450;
}
@media(max-width: 1024px){

  .body{
    align-items: flex-start;
    flex-direction: column;
  }

  .btnContainer{
    align-items:center;
    flex-direction: column;
  }
  
  .body >h2{
    padding: 5%;
    text-align: center;

  }

  .socialContainer{
    justify-content: center;
    position: relative;
    padding-block: 2em;
    width: 100%;
  }

  .socialContainer::after{
    content: '';
    height: 1px;
    width: 95%;
    align-self: center;
    position: absolute;
    background-color: gray;
    bottom: 0;
  }
}