.container{
  position: absolute;
  width:100%;
  justify-content:center;
  box-sizing: border-box;
  z-index: 8888;
  background-color: var(--primary-color);
  flex-direction: column;
  display: flex;
  height: 120px;
  top: 0;
  padding-inline: 5%;
  background-color: transparent;
}

.navLinksWrapper{
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
}
.logoWrapper{
  align-self: center;
  z-index: 1;
}

@media (max-width: 1024px){

 .container{
    height: 50px;
    flex-direction: column;
  }
}