.preloaderContainer{
    z-index: 99999;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    transform: translateX(-25%);
    height: 100vh;
    width: 200%;
    align-items: center;
    flex-direction: column;
    background-color:black;
    justify-content: center;
    overflow: visible;
    z-index: 99999999;
    cursor: wait;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: auto;
    overflow: hidden;
    }
.preloaderLogo{
    opacity: 0;
    color:lightgray;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
    font-family: sans-serif;
}


.cover{
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    height: 100%;
    bottom: 0;
    z-index: 1;
    transform: translateY(100%);
}

.fill{
    height: 250px;
    width: 100%;
    position: absolute;
    z-index: 9999999;
    background-color: var(--primary-color);
    bottom:0;
    transform: translateY(95%);
}
