.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width: auto;
    height: auto;
    top:0;
}

.logo{
    cursor:pointer;
    font-weight:500;
    white-space: nowrap;
    padding: 1em;
    text-transform: capitalize;
    user-select: none;
    z-index: -9999999;
    }

@media (max-width:600px){

    .logoContainer{
      position: relative;
      color: white;
      fill: white;
      width:fit-content;
      
    }
    .logo{
      padding: 0;
    }

  }